<ng-container
	*ngIf="{
		noooothing: populateForm$ | async,
		formValue: productDialogService.recordFormValue$ | async
	} as source"
>
	<form [formGroup]="productDialogService.recordForm">
		<div class="controls-container">
			<mat-form-field class="w-100">
				<mat-label>Band</mat-label>
				<input formControlName="band" matInput placeholder="Band" />
				<mat-error>This field is mandatory.</mat-error>
			</mat-form-field>

			<mat-form-field class="w-100">
				<mat-label>Album</mat-label>
				<input formControlName="album" matInput placeholder="Album" />
				<mat-error>This field is mandatory.</mat-error>
			</mat-form-field>
		</div>
	</form>
</ng-container>
