<form [formGroup]="categoryDialogService.form" (submit)="onSubmit()">
	<div class="controls-container">
		<mat-form-field class="w-100">
			<input formControlName="id" [readonly]="true" matInput placeholder="CategoryId" />
		</mat-form-field>

		<mat-form-field class="w-100">
			<input formControlName="route" matInput placeholder="Route" />
			<mat-error>This field is mandatory.</mat-error>
		</mat-form-field>

		<mat-form-field class="w-100">
			<input formControlName="name" matInput placeholder="name" />
			<mat-error>Invalid email address.</mat-error>
		</mat-form-field>

		<h3>Subcatgories</h3>
		<ng-container [formGroup]="arrayItem" *ngFor="let arrayItem of categoryDialogService.subCategoryArray; let i = index">
			<h4>SubCategory {{ i }}</h4>
			<mat-form-field class="w-100">
				<mat-label>ID</mat-label>
				<input matInput formControlName="id" [readonly]="true" />
			</mat-form-field>
			<mat-form-field class="w-100">
				<mat-label>Title</mat-label>
				<input matInput formControlName="name" />
			</mat-form-field>
			<mat-form-field class="w-100">
				<mat-label>Route</mat-label>
				<input matInput formControlName="route" />
			</mat-form-field>
			<mat-form-field class="w-100">
				<mat-label>CategoryId</mat-label>
				<input matInput formControlName="categoryId" [readonly]="true" />
			</mat-form-field>
		</ng-container>

		<div class="button-row">
			<button mat-raised-button color="primary" type="button" (click)="addSubCategory()">Add SubCategory</button>
			<button mat-raised-button color="warn" type="button" (click)="removeSubCategory()">Remove SubCategory</button>
		</div>
		<div class="button-row">
			<button mat-raised-button color="primary" type="submit" [disabled]="categoryDialogService.form.invalid">Submit</button>
			<button mat-raised-button color="warn" type="button" (click)="onClear()">Clear</button>
		</div>
	</div>
</form>
