<ng-container
	*ngIf="{
		formValue: formValue$ | async,
		productData: populateForm$ | async
	} as source"
>
	<form [formGroup]="form" (submit)="onSubmit(source.formValue)">
		<div class="controls-container" formGroupName="row">
			<mat-form-field class="w-100">
				<input formControlName="id" [readonly]="true" matInput placeholder="CategoryId" />
			</mat-form-field>

			<mat-form-field class="w-100">
				<input formControlName="route" matInput placeholder="Route" />
				<mat-error>This field is mandatory.</mat-error>
			</mat-form-field>

			<mat-form-field class="w-100">
				<input formControlName="name" matInput placeholder="name" />
				<mat-error>Invalid email address.</mat-error>
			</mat-form-field>

			<h3>Subcatgories</h3>
			<div formArrayName="subCategories">
				<ng-container *ngFor="let arrayItem of subCategoryArray.controls; let i = index">
					<ng-container [formGroup]="arrayItem">
						<h4>SubCategory {{ i }}</h4>
						<mat-form-field class="w-100">
							<mat-label>ID</mat-label>
							<input matInput formControlName="id" [readonly]="true" />
						</mat-form-field>
						<mat-form-field class="w-100">
							<mat-label>Title</mat-label>
							<input matInput formControlName="name" />
						</mat-form-field>
						<mat-form-field class="w-100">
							<mat-label>Route</mat-label>
							<input matInput formControlName="route" />
						</mat-form-field>
						<mat-form-field class="w-100">
							<mat-label>categoryId</mat-label>
							<input matInput formControlName="categoryId" [readonly]="true" />
						</mat-form-field>
					</ng-container>
				</ng-container>
			</div>

			<div class="button-row">
				<button mat-raised-button color="primary" type="button" (click)="addSubCategory()">Add SubCategory</button>
				<button mat-raised-button *ngIf="subCategoryArray.length" color="warn" type="button" (click)="removeSubCategory()">
					Remove SubCategory
				</button>
			</div>
			<div class="button-row">
				<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
				<button mat-raised-button color="warn" type="button" (click)="onClear()">Clear</button>
			</div>
		</div>
	</form>
</ng-container>
