<ng-container *ngIf="recordStore.recordsReplay$ | async; let records">
    <div class="album py-5 bg-light">
        <div class="container">
            <h2>{{records[0]?.category}}</h2>
            <div class="row">
                <div class="col-md-4"
                    *ngFor="let record of records | orderBy: order : false | paginate: config">
                    <app-record-item [record]="record"></app-record-item>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</ng-container>
