<p>
  User profile
</p>
User id: {{userStore.userItem.id}}
<br>
Email:
<br>

<div *ngFor="let record of cartService.cartList.record">
  Cart:  {{record.title}}
</div>

<button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>


<div class="album py-5 bg-light">
  <div class="container">
    <h2>Your Items</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let item of userStore.userItems | orderBy: order : false">
        <div class="card mb-4 box-shadow">
          <a class="fancybox" rel="gallery" href="{{item.imagePath}}">
              <img class="card-img-top" [src]="imageRootPath+item.imagePath" style="height: 225px; width: 100%; display: block;" alt="{{item.title}}" class="img img-responsive full-width thumbnail" />
          </a>
          <div class="card-body">
            <p class="card-text">{{item.title}}</p>
            <p class="card-text">{{item.category}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button"  routerLink='/record/{{item.id}}' class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="userStore.removeItem(item)">Remove</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
