<ng-container
	*ngIf="{
		activatedRouteEvent: activatedRoute.paramMap | async,
		tableData: tableData$ | async
	} as source"
>
	<div class="search-div">
		<button mat-raised-button (click)="onCreate(source.activatedRouteEvent)"><mat-icon>add</mat-icon>Create</button>
		<form form class="d-inline p-2" [formGroup]="filterForm">
			<mat-form-field class="search-form-field" floatLabel="never" [formGroup]="filterForm">
				<input
					matInput
					formControlName="search"
					placeholder="Search"
					autocomplete="off"
					(keyup)="applyFilter($event, source.tableData?.items)"
				/>
				<button
					mat-button
					matSufix
					mat-icon-button
					aria-label="Clear"
					*ngIf="filterForm.get('search').value"
					(click)="onSearchClear(source.tableData?.items)"
				>
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
		</form>
	</div>

	<div class="mat-elevation-z8">
		<mat-table [dataSource]="source.tableData?.items" matSort (matSortChange)="sortData(filterForm, $event)">
			<ng-container matColumnDef="email">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="userName">
				<mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{ element.userName }} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="fullName">
				<mat-header-cell *matHeaderCellDef mat-sort-header> FullName </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{ element.fullName }} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef></mat-header-cell>
				<mat-cell *matCellDef="let element">
					<a class="btn btn-sm btn-info text-white" (click)="onEdit(element, source.activatedRouteEvent)"><i class="fa fa-pencil"></i></a>
					<a class="btn btn-sm btn-danger text-white ml-1" (click)="onDelete(element)"><i class="fa fa-trash"></i></a>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
		</mat-table>

		<mat-paginator
			[length]="source.tableData?.totalItems"
			[pageSizeOptions]="[5, 10, 25, 100]"
			[pageSize]="5"
			showFirstLastButtons
			(page)="updateTable(filterForm, $event)"
		>
		</mat-paginator>
	</div>
</ng-container>
