<ng-container
	*ngIf="{
		routerEvent: routerEvent$ | async,
		activatedRouteEvent: activatedRoute.paramMap | async,
		tableData: productTableService.tableData$ | async
	} as source"
>
	<h2>{{ adminCategoryNameEnum[source.activatedRouteEvent.get("product")] }}</h2>
	<div class="container float-left">
		<div class="my-2">
			<button class="p-2" mat-raised-button (click)="onCreate(source.activatedRouteEvent)"><mat-icon>add</mat-icon>Create</button>

			<form form class="d-inline p-2" [formGroup]="filterForm">
				<mat-form-field>
					<input
						matInput
						formControlName="search"
						placeholder="Search"
						autocomplete="off"
						(keyup)="applyFilter($event, source.tableData?.items, filterForm)"
						#input
					/>
				</mat-form-field>
			</form>
			<button
				mat-button
				matSufix
				mat-icon-button
				aria-label="Clear"
				*ngIf="filterForm.get('search').value"
				(click)="onSearchClear(source.tableData?.items)"
			>
				<mat-icon>close</mat-icon>
			</button>
		</div>

		<div class="mat-elevation-z8">
			<mat-table [dataSource]="source.tableData?.items" matSort (matSortChange)="sortData(filterForm, $event)">
				<ng-container matColumnDef="{{ column }}" *ngFor="let column of definedColumns">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</mat-header-cell>
					<mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="imagePath">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<img [src]="imageRootPath + element.imagePath" height="40px" width="40px" alt="{{ element.imagePath }}" />
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<a class="btn btn-sm btn-info text-white" (click)="onEdit(row, source.activatedRouteEvent)"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-sm btn-danger text-white ml-1" (click)="onDelete(row)"><i class="fa fa-trash"></i></a>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="loading">
					<mat-footer-cell *matFooterCellDef colspan="6"> Loading data... </mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="noData">
					<mat-footer-cell *matFooterCellDef colspan="6"> No data. </mat-footer-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
				<mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
				<mat-footer-row *matFooterRowDef="['loading']" [hidden]="!source.tableData?.items?.length"> </mat-footer-row>
				<mat-footer-row *matFooterRowDef="['noData']" [hidden]="source.tableData?.items !== null"> </mat-footer-row>
			</mat-table>
			<mat-paginator
				[length]="source.tableData?.totalItems"
				[pageSizeOptions]="[5, 10, 25, 100]"
				[pageSize]="productTableService.initPageLimit"
				(page)="updateTable(source.activatedRouteEvent, filterForm, $event)"
				showFirstLastButtons
			>
			</mat-paginator>
		</div>
	</div>

	<a [routerLink]="['./']">reset</a>
	<a [routerLink]="['/adminpanel/tables/products/clothings']">clothing</a>

	<router-outlet name="tablesOutlet"></router-outlet>
</ng-container>
