modal-wrapper-component
<ng-container *ngIf="{paramMapProduct: paramMapProduct$  | async } as source">

	<div mat-dialog-content>
		<p class="dialog-paragraph">{{ data.headerText }}</p>

		<!-- <mat-toolbar>
			<span class="fill-remaining-space"></span>
				<button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
			<span class="fill-remaining-space"></span>
		</mat-toolbar> -->



		<ng-container [ngTemplateOutlet]="data.template"></ng-container>
	</div>
</ng-container>
