<ng-template #firstDialogTemplate>
	<ng-container *ngIf="{paramMapProduct: paramMapProduct$ | async } as source">
		<mat-toolbar>
			<span class="fill-remaining-space"></span>
				<button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
			<span class="fill-remaining-space"></span>
		</mat-toolbar>

		<pre>{{source.paramMapProduct.createNewProduct | json}}</pre>
		<app-category-dropdown (selectCategory)="selectedCataegory($event)" *ngIf="source.paramMapProduct.createNewProduct"></app-category-dropdown>

		<div [ngSwitch]="categoryChange?.name | lowercase">
			<app-record-dialog *ngSwitchCase=categoryEnum.Record></app-record-dialog>
			<app-clothing-dialog *ngSwitchCase=categoryEnum.Clothing></app-clothing-dialog>
			<app-shoe *ngSwitchCase=categoryEnum.Shoe></app-shoe>
			<app-category-dialog *ngSwitchCase=categoryEnum.Category></app-category-dialog>
			<div *ngSwitchDefault>Default</div>
		</div>
	</ng-container>
</ng-template>

